@using Webdiyer.WebControls.Mvc;
@using CommunityBackend.Models;
@model PagedList<CommunityBackend.Models.EstateRepair>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @item.Status.GetDisplayName();
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.EstateRepairID }) |
            @Html.ActionLink("查看", "Details", new { id = item.EstateRepairID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.EstateRepairID })
        </td>
    </tr>
}

</table>

