@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>店铺后台菜单栏</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <ul class="nav nav-list">
            <li>
                 @Html.ActionLink("店铺编辑", "edit", "Stores", new { area = "merchant" }, new { target = "frameRight" })
            </li>
            <li>
                 @Html.ActionLink("商品管理", "Index", "Wares", new { area = "merchant" }, new { target = "frameRight" })
            </li>
            <li>
                 @Html.ActionLink("销售查询", "Index", "SaleOrders", new { area = "merchant" }, new { target = "frameRight" })
            </li>
            <li>
                 @Html.ActionLink("评介管理", "Index", "Remarks", new { area = "merchant" }, new { target = "frameRight" })
            </li>
        </ul>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
