@using Webdiyer.WebControls.Mvc;
@model PagedList<CommunityBackend.Models.PreInfo>

@{
    Layout = "~/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "预约信息管理";
}

<h2>预约信息目录</h2>

<h4>
    @Html.ActionLink("管理租赁信息", "Index", "InfoNews")
</h4>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type.PreInfoTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.PreInfoID }) |
            @Html.ActionLink("查看", "Details", new { id = item.PreInfoID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.PreInfoID })
        </td>
    </tr>
}

</table>

<div class="text-right">
    @Html.Pager(Model).Options(
        o => o.SetPageIndexParameterName("id").SetHorizontalAlign("right").SetPagerItemTemplate("&nbsp;{0}")
    )
</div>
