@model CommunityBackend.Models.Remark

@{
    Layout = "~/Areas/merchant/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "查看";  
}

<h2>查看</h2>

<div>
    <h4>评价</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WareID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WareID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Replay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Replay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("回复", "Reply", new { id = Model.RemarkID }) |
    @Html.ActionLink("返回目录", "Index")
</p>
