@model CommunityBackend.Models.SaleOrder

@{
    Layout = "~/Areas/merchant/Views/Shared/_layoutForFrame.cshtml"; 
    ViewBag.Title = "查看";  
}

<h2>查看</h2>

<div>
    <h4>销售单</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postor.nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatueName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("返回目录", "Index")
</p>
