@using Webdiyer.WebControls.Mvc;
@using CommunityBackend.Models;
@model PagedList<CommunityBackend.Models.Feedback>

@{
    Layout = "~/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "反馈管理"; 
}

<h2>反馈目录</h2>

<p></p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Craftman)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Merchant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Craftman.nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Merchant.nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTime)
        </td>
        <td>
            @Html.ActionLink("查看", "Details", new { id = item.FeedbackID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.FeedbackID })
        </td>
    </tr>
}

</table>

<div class="text-right">
    @Html.Pager(Model).Options(
        o => o.SetPageIndexParameterName("id").SetHorizontalAlign("right").SetPagerItemTemplate("&nbsp;{0}")
    )
</div>
