@using CommunityBackend.Tool;
@using CommunityBackend.Models;
@model CommunityBackend.Models.MemberCard

@{
    Layout = "~/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "查看";  
}

<h2>查看</h2>

<div>
    <h4>会员卡</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MerchantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Merchant.nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherService)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherService)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Model.category.GetDisplayName()
        </dd>

        <dt>
            会员卡图片
        </dt>

        <dd>
            @ＭemberCardImageTool.GetImage(Model);
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.MemberCardID }) |
    @Html.ActionLink("返回列表", "Index")
</p>
