@model IEnumerable<CommunityBackend.Models.CraftBBSForum>

@{
    Layout = "~/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "手艺人论坛版块管理";
}

<h2>手艺人论坛版块</h2>

<h4>
    @Html.ActionLink("管理用户论坛版块", "Index", "BBSForums")
</h4>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brief)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brief)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.CraftBBSForumID }) |
                @Html.ActionLink("查看", "Details", new { id = item.CraftBBSForumID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.CraftBBSForumID })
            </td>
        </tr>
    }

</table>
