@model IEnumerable<CommunityBackend.Models.WareType>

@{
    Layout = "~/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "商品类别管理";
}

<h2>商品类别</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WareTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WareTypeName)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.WareTypeID }) |
            @Html.ActionLink("查看", "Details", new { id = item.WareTypeID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.WareTypeID })
        </td>
    </tr>
}

</table>
