@model PagedList<CommunityBackend.Models.EstateServ>
@using Webdiyer.WebControls.Mvc;

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.phonenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Community)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Community.CommunityName)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id = item.EstateServID }) |
            @Html.ActionLink("查看", "Details", new { id = item.EstateServID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.EstateServID })
        </td>
    </tr>
}

</table>
