@using CommunityBackend.Tool;
@model CommunityBackend.Models.InfoNews
@using CommunityBackend.Models

@{
    Layout = "~/Views/Shared/_layoutForFrame.cshtml";
    ViewBag.Title = "查看";  
}

<h2>查看</h2>

<div>
    <h4>信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfoTypeID)
        </dt>

        <dd>
            @ViewBag.InfoTypName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.communityID)
        </dt>

        <dd>
            @ViewBag.CommunityName
        </dd>

        <dt>
            信息图片
        </dt>

        <dd>
            @InfoNewsImageTool.GetImage(Model)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.InfoNewsID }) |
    @Html.ActionLink("返回目录", "Index")
</p>
